body {
  font-family: sans-serif;
  background-image: url("../images/pexels-pixabay-326311.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  background-color: brown; }


  }

  body img {

            }
